mixin FooterList(...items)
  each item in items
    li.lh-lg
      a.text-200.text-decoration-none(href='#!')
        =item

mixin Footer
  section
    +Background({image: `${CWD}assets/img/gallery/footer-bg.png`, attrs: { style: { 'background-position': 'left', 'background-size': 'contain',} }, className: '' })
    .container
      .row
        .col-5.mb-3
          .card.card-span.bg-transparent.border-start.border-primary.border-5.mt-3
            .card-body
              p.text-light.fs-2.lh-lg.px-lg-3 We provide traffic management consultants so you get started quickly, contact us for a quote today!
          

        .col-6.col-md-4.col-xl-3.mb-3
                
      //- hr    
      //- .row.flex-center.pb-3
      //-   .col-md-6.order-0 
      //-     p.text-200.text-center.text-md-start All rights Reserved &copy;  Your Company, 2021
      //-   .col-md-6.order-1
      //-     p.text-200.text-center.text-md-end  Made with&nbsp;
      //-       svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='#A8B7FF' viewBox='0 0 16 16')
      //-         path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

      //-       |&nbsp;by&nbsp;
      //-       a(href='https://themewagon.com/' target='_blank').text-200.fw-bold ThemeWagon 
    
      
